[package]
name = "plants-common"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[dependencies]
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.141"
zbus = { version = "5.9.0", features = ["option-as-array"] }
zvariant = "5.9.2"
